:root {
    --body-bg: white;
    --joy-bg-color: #fbfcfe;
    --navbar-color: #ffffff75;
    --dark-police: rgb(44, 44, 44);
    --dark-police-hover: rgb(97, 97, 97);
    --light-police: rgb(192, 192, 192);
    --light-police-hover: rgb(243, 243, 243);
    --orange-text: orange;
}

* {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}